@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF7;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
